<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Hamcrest Assertions Example Test Suite" parallel="classes">
    <test name="Number related assertion examples">
        <classes>
            <class name="io.github.mfaisalkhatri.NumberRelatedAssertionTests"/>
            <class name="io.github.mfaisalkhatri.ReqresTests"/>
            <class name="io.github.mfaisalkhatri.StringRelatedAssertionTests"/>
        </classes>
    </test>
</suite>